h1 {
  font-size: 450%;
  text-align: center;
  color: white;
}

.bg-green {
  background-color: rgb(170, 212, 200);
}

.navbar-toggler {
  background-color: #aad4c8;
}

.navbar-toggler  .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
 }

.navbar-toggler:hover  .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
 }

 a {
   color: black;
   font-size: x-large;
 }

 h5 {
   font-size: xx-large;
 }

 .walt-font {
  font-family: 'WaltographRegular';
  font-weight: normal;
  font-style: normal;
 }

 .nav-link:hover {
  color: white;
 }