<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-green p-4">
        <h5 class="text-white walt-font">Rock, Paper, Scissors!</h5>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 walt-font">
            <li class="nav-item active">
                <a class="nav-link" href="/">New game</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/rules">Rules</a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://github.com/chachir/rockpaperscissors#readme">About RPS!</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About us
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://www.linkedin.com/in/chachir/">Nadia Carrera Chahir</a>
                <a class="dropdown-item" href="https://www.linkedin.com/in/alejandro-leiva-palomo-5a6a62185/">Alejandro Leiva Palomo</a>
              </div>
            </li>
        </ul>
    </div>
</div>
<nav class="navbar">
    <div class="mx-auto">
        <h1 class="walt-font">Rock, Paper, Scissors!</h1>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
