.hands{
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.image{
  border-radius: 50%;
  border: solid 20px;
  border-color: rgb(255, 91, 100);
  background-color: rgba(255, 91, 99, 0.2);
}


.image-choice {
  border-radius: 50%;
  border: solid 5px;
  border-color: #aad4c8;
}

.choose{
  margin-top: auto;
  margin-bottom: auto;
}

h1 {
  color: white;
  text-align: center;
}

.list-group-item {
  background-color: transparent;
  border-color: transparent;
  text-align: center;
  }

  img {
    padding: 1em;
    margin: 1em;
  } 

  .rules {
    border-radius: 10%;
  }


  .walt-font {
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
  }

  p {
    font-size: 4em;
    text-align: center;
    color: white;
  }

  .margin-message {
    margin: -35px;
  }