<div class="row margin-message">
  <p class="walt-font" *ngIf="machineRPS != null">{{message}}</p>
  <p class="walt-font" *ngIf="machineRPS == null">Choose a weapon...</p>
</div>

<div class="row row-cols-3">
  <div class="card align-items-center" *ngFor="let hand of list">
    <img *ngIf="machineRPS == null" (click)="choice(hand.value)" class="image-choice first-choice" type="button" src="/assets/img/{{hand.image}}.png">
    <img *ngIf="machineRPS != null" (click)="choice(hand.value)" class="image-choice following-choices" type="button" src="/assets/img/{{hand.image}}.png">
  </div>
</div>

<div class="row row-cols-2">
  <div class="hands col-6 col-sm-6 col-md-6 align-items-center mx-auto">
    <div class="card align-items-center" *ngFor="let hand of list">
      <img class="image" *ngIf="playerRPS == hand.value"  src="/assets/img/{{hand.image}}.png">
    </div>
  </div>
  <div class="hands col-6 col-sm-6 col-md-6 mx-auto">
    <div class="card" *ngFor="let hand of list">
      <img class="image" *ngIf="machineRPS == hand.value"  src="/assets/img/{{hand.image}}.png">
    </div>
  </div>
</div>