<div>
    <div (click) = "choice(1)"><img src="/assets/img/paper.png" width="10%" height="10%"></div>
    <div (click) = "choice(0)"><img src="/assets/img/rock.png" width="10%" height="10%"></div>
    <div (click) = "choice(2)"><img src="/assets/img/scissors.png" width="10%" height="10%"></div>
</div>
<div class="styled">
    <div class="circle">player
        <div *ngIf="playerRPS == 1"><img src="/assets/img/paper.png" width="20%" height="20%"></div>
        <div *ngIf="playerRPS == 0"><img src="/assets/img/rock.png" width="20%" height="20%"></div>
        <div *ngIf="playerRPS == 2"><img src="/assets/img/scissors.png" width="20%" height="20%"></div>
    </div>
</div>

<div>machine
    <div *ngIf="machineRPS == 1"><img src="/assets/img/paper.png" width="20%" height="20%"></div>
    <div *ngIf="machineRPS == 0"><img src="/assets/img/rock.png" width="20%" height="20%"></div>
    <div *ngIf="machineRPS == 2"><img src="/assets/img/scissors.png" width="20%" height="20%"></div>
</div>