.hands {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  max-width: 500px;
}

.image {
  border-radius: 50%;
  border: solid 20px;
  border-color: #ff5b64;
  width: 75%;
  background-color: rgba(255, 91, 99, 0.2);
}

.image-choice {
  border-radius: 50%;
  border: solid 5px;
  border-color: #aad4c8;
}

.first-choice {
  width: 50%;
}

.following-choices {
  width: 25%;
}

.choose {
  margin-top: auto;
  margin-bottom: auto;

}

.card{
  background-color: transparent;
  border-color: transparent;
}

h1 {
  color: white;
  text-align: center;
}

.list-group-item {
  background-color: transparent;
  border-color: transparent;
  text-align: center;
  width: 50%;
}

img {
  padding: 1em;
  margin: 1em;
}


  .walt-font {
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
  }

  p {
    font-size: 4em;
    text-align: center;
    color: white;
  }

  .margin-message {
    margin: -35px;
  }

  /*.playground {
    margin-top: -10em;
  }*/