<div class="container-fluid">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-3 .mx-auto">
      <div class="col d-flex justify-content-center">
        <app-counter #youPlayer [name]="player"></app-counter>
      </div>

    </div>
    <div class="col-3 .mx-auto">
      <div class="col d-flex justify-content-center">
        <app-counter #machinePlayer [name]="machine"></app-counter>
      </div>

    </div>
    <div class="col-3">

    </div>
    <app-playground (propagate)="getWinner($event)"></app-playground>
  </div>
</div>
